/*ON MOBILE*/
@media only screen and (max-width: 767px) {
    .loginBox {
        height: 300px;

        min-width: 90%;
        padding: 25px;
        border: 2px solid red;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .inputs {
        width: 240px;
    }
}

/*TABLET and UP*/
@media only screen and (min-width: 768px) {

    .loginBox {
        height: 350px;
        min-width: 460px;
        padding: 30px;
        border: 2px solid blue;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .inputs {
        width: 400px;
    }

}

.loginBox {
    background-color: antiquewhite;
}

.loginButton {

}
